<?xml version="1.0"?>
<!--
/**
 * Customer prices for Magento 2 platform
 *
 * @author Dmytro Kaplin <dkaplin1994@gmail.com>
 * @license https://github.com/epuzzle/magento2-customer-price/blob/main/LICENSE
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Indexer and Cache -->
    <type name="Magento\Framework\App\Http\Context">
        <plugin name="epAddCustomerContextVariable"
                type="ePuzzle\CustomerPrice\Plugin\App\Http\Context\AddCustomerPriceVariableToContext"
                sortOrder="10"/>
    </type>
    <!-- Indexer and Cache -->
</config>
