<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Cache -->
    <type name="Magento\Framework\App\Http\Context">
        <plugin name="epuzzle-customer-price-add-customer-context-variable"
                type="EPuzzle\CustomerPrice\Plugin\App\Http\Context\AddCustomerPriceVariableToContext"
                sortOrder="10"/>
    </type>
    <!-- /Cache -->
</config>
